html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

video {
  width: 100%;
}

div.controles {
  position: absolute;
  right: 0;
  top: 40%;
  z-index: 100;
  opacity: 0.1;
}

div.controles:hover {
  opacity: 0.8;
}

div.panel {
  width: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: white;
  right: -300px;
  transition: right 0.2s;
  overflow-x: hidden;
  overflow-y: scroll;
}

div.panel-visible {
  right: 0;
}

div.background {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: right 0.2s, left 0.2s;

  background-image: url('mensaje.png');
  background-repeat: no-repeat;
  background-position-y: 45%;
  background-position-x: right;
}

div.background-apartado {
  right: 300px;
  left: -300px;
}

.fondo {
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

.fondo:hover {
  border: 1px solid white;
}

#btn-panel {
  width: 64px;
  height: 64px;
  border: none;
  background: none;
  background-image: url('panel.png');
  cursor: pointer;
}

#btn-panel:hover {
  border: none;
}
