<html ng-app='app'>

<head>
  <script src='js/angular.js'></script>
  <script src='js/app.js'></script>
  <script src='js/controllers/MainCtrl.js'></script>
  <link rel="stylesheet" href="css/custom.css">
</head>

<body ng-controller='AppCtrl'>
  <div class="background" ng-class="{'background-apartado': data.panel_visible}">

  <div class="controles">
    <button id='btn-panel' ng-click='alternar_panel()'></button>
  </div>

    <video autoplay loop id='video'>
      <source ng-src="{{data.video_seleccionado}}"/>
    </video>
  </div>

  <div class="panel" ng-class="{'panel-visible': data.panel_visible}">
    <a ng-repeat='fondo in data.fondos' href class='item' ng-click='seleccionar(fondo)'><img class='fondo' ng-src='{{fondo.miniatura}}'></a>
  </div>

</body>
</html>
